{% layout "server/layouts/base.liquid" %}

{% block content %}

  <h1 class="h1">{{ title }}</h1>

  <form method="get" action="/recommendation/">
    <fieldset>
      <legend>Welke genres ken je het beste?</legend>
      <label><input
          type="checkbox"
          name="genre"
          value="jazz"> Jazz</label>
      <label><input
          type="checkbox"
          name="genre"
          value="funk"> Funk</label>
      <label><input
          type="checkbox"
          name="genre"
          value="rock"> Rock</label>
      <label><input
          type="checkbox"
          name="genre"
          value="soul"> Soul</label>
      <label><input
          type="checkbox"
          name="genre"
          value="samba"> Samba</label>
      <label><input
          type="checkbox"
          name="genre"
          value="blues"> Blues</label>
      <label><input
          type="checkbox"
          name="genre"
          value="bossa nova"> Bossa Nova</label>
      <label><input
          type="checkbox"
          name="genre"
          value="rap"> Hip Hop</label>
      <label><input
          type="checkbox"
          name="genre"
          value="pop"> Pop</label>
    </fieldset>

    <button type="submit">geef tracks!</button>
  </form>

{% endblock %}